1,TTDB,DEPT,DEPTNO,NUMBER,-,0,1,-,-,-
2,TTDB,DEPT,DNAME,varchar2,-,-,2,-,-,-
3,TTDB,DEPT,LOC,varchar2,-,-,3,-,-,-
4,TTDB,EMP,EMPNO,NUMBER,-,-,4,-,-,-
5,TTDB,EMP,ENAME,varchar2,-,-,5,-,-,-
6,TTDB,EMP,JOB,varchar2,-,-,6,-,-,-
7,TTDB,EMP,MGR,NUMBER,-,-,7,-,-,-
8,TTDB,EMP,HIREDATE,Date,dd-MM-yyyy,<TODAY>,8,-,-,-
9,TTDB,EMP,SAL,NUMBER,-,0,9,-,-,-
10,TTDB,EMP,COMM,NUMBER,-,0,10,-,-,-
11,TTDB,EMP,DEPTNO,NUMBER,-,0,1,-,-,-
